#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <180>;
    quick-tap-ms = <150>;
    flavor = "balanced";
};

&mt {
    tapping-term-ms = <180>;
    quick-tap-ms = <150>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        Main {
            bindings = <&to 0>;
            key-positions = <16 18>;
        };

        MVEdit {
            bindings = <&to 3>;
            key-positions = <31 32 30>;
        };

        SoftOff {
            bindings = <&soft_off>;
            key-positions = <0 1 12 13>;
        };

        Naginata {
            bindings = <&to 0>;
            key-positions = <7 8 9>;
        };

        Kana_Roma_Toggle {
            bindings = <&kp LA(INT_KANA)>;
            key-positions = <11 12 13>;
        };

        cbSingleQ {
            bindings = <&SingleQ>;
            key-positions = <23 24>;
            layers = <0>;
        };

        cbDoubleQ {
            bindings = <&DoubleQ>;
            key-positions = <36 37>;
            layers = <0>;
        };

        cbKakkoNami {
            bindings = <&KakkozNami>;
            key-positions = <49 50>;
            layers = <0>;
        };

        cbKakkoMaru {
            bindings = <&KakkoMaru>;
            key-positions = <24 25>;
            layers = <0>;
        };

        KakkoKagi {
            bindings = <&KakkoKagi>;
            key-positions = <37 38>;
            layers = <0>;
        };

        cbCommand {
            bindings = <&kp LA(LG(SPACE))>;
            key-positions = <62 38>;
        };

        cbLauncher {
            bindings = <&kp LA(SPACE)>;
            key-positions = <62 37>;
        };

        cbCtrlA {
            bindings = <&kp LC(A)>;
            key-positions = <29 30>;
        };

        cbCtrlC {
            bindings = <&kp LC(C)>;
            key-positions = <31 30>;
        };

        cbCtrlV {
            bindings = <&kp LC(V)>;
            key-positions = <32 31>;
        };

        cbCtrlZ {
            bindings = <&kp LC(Z)>;
            key-positions = <42 43>;
        };

        cbCtrlX {
            bindings = <&kp LC(X)>;
            key-positions = <30 32>;
        };
    };

    macros {
        KanaToLY0: KanaToLY0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT2>, <&macro_wait_time 20>, <&to 0>;

            label = "KANATOLY0";
        };

        SingleQ: SingleQ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N7) &kp LS(N7) &kp LEFT>;
            label = "SINGLEQ";
        };

        DoubleQ: DoubleQ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N2) &kp LS(N2) &kp LEFT>;
            label = "DOUBLEQ";
        };

        KakkoKagi: KakkoKagi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(RIGHT_BRACKET) &kp LS(NUHS) &kp LEFT>;
            label = "KAKKOKAGI";
        };

        KakkozNami: KakkozNami {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET &kp NUHS &kp LEFT>;
            label = "KAKKOZNAMI";
        };

        KakkoMaru: KakkoMaru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(N8) &kp LS(N9) &kp LEFT>;
            label = "KAKKOMARU";
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lt_repeat: lt_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_REPEAT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";  // 長押しを少し強めに優先
            tapping-term-ms = <1000>;   // 長押し判定 (好みに応じて200～300で調整)
            quick-tap-ms = <900>;       // タップ+長押しでリピートさせる時間
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3            &kp N4  &kp N5       &none               &none        &kp NUMBER_6  &kp N7                 &kp N8             &kp N9          &kp N0    &kp MINUS
&kp TAB    &kp Q     &kp W     &kp E             &kp R   &kp T        &none               &to 4        &kp Y         &kp U                  &kp I              &kp O           &kp P     &kp LBKT
&kp CAPS   &kp A     &kp S     &hm LEFT_SHIFT D  &kp F   &hm LCTRL G  &none                            &hm RCTRL H   &kp J                  &hm RIGHT_SHIFT K  &kp L           &kp SEMI  &kp SQT
&kp LSHFT  &kp Z     &kp X     &kp C             &kp V   &kp B        &none                            &kp N         &kp M                  &kp COMMA          &kp DOT         &kp FSLH  &kp INT_RO
&kp LCTRL  &kp LGUI  &kp LALT  &mo 5             &mo 2   &mo 1        &lt_repeat 4 SPACE  &lt 5 ENTER  &kp SPACE     &mt RIGHT_SHIFT GRAVE  &none              &kp LEFT_ARROW  &kp DOWN  &kp RIGHT
            >;

            label = "MAIN";
        };

        Sub {
            bindings = <
&none  &none       &none       &none       &none       &none       &none  &none          &none         &none         &none       &none          &none       &none
&none  &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &none  &none          &kp N6        &kp N7        &kp N8      &kp N9         &kp N0      &kp RBKT
&none  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &none                 &kp RS(N6)    &kp RS(N7)    &kp RS(N8)  &kp RS(N9)     &kp RS(N0)  &kp NUHS
&none  &none       &none       &kp F7      &kp F9      &kp LS(Z)   &none                 &kp RS(RBKT)  &kp RS(NUHS)  &kp MINUS   &kp EQUAL      &kp INT3    &kp RS(INT3)
&none  &none       &none       &to 3       &none       &none       &none  &kp BACKSPACE  &kp DELETE    &kp INT5      &none       &kp RS(MINUS)  &none       &none
            >;

            label = "Sub";
        };

        Func {
            bindings = <
&none      &none    &none    &none       &none      &none          &none  &none  &none          &none     &none          &none       &kp EQUAL  &kp INT3
&none      &none    &kp F2   &kp F3      &kp F4     &kp F5         &none  &none  &kp PG_UP      &kp HOME  &kp UP         &kp END     &none      &kp RBKT
&none      &kp F6   &kp F7   &kp F8      &kp F9     &kp F10        &none         &kp PAGE_DOWN  &kp LEFT  &kp DOWN       &kp RIGHT   &kp ENTER  &kp NUHS
&kp LSHFT  &kp F11  &kp F12  &kp LA(F4)  &kp LC(Z)  &kp LG(LS(S))  &none         &kp INT5       &kp INT2  &kp BACKSPACE  &kp DELETE  &none      &none
&kp LCTRL  &none    &none    &none       &none      &none          &none  &none  &none          &none     &none          &none       &none      &none
            >;

            label = "Func";
        };

        MVEdit {
            bindings = <
&kp LS(ESCAPE)    &none              &none         &none          &none             &none         &none      &none  &none  &none  &none  &none  &none  &none
&none             &kp LS(BACKSPACE)  &kp HOME      &kp BACKSPACE  &kp END           &kp LC(Z)     &none      &none  &none  &none  &none  &none  &none  &none
&kp ENTER         &kp LC(R)          &kp UP_ARROW  &kp LC(B)      &kp DOWN          &kp LS(Z)     &none             &none  &none  &none  &none  &none  &none
&kp LEFT_SHIFT    &none              &kp LC(H)     &kp C          &kp LC(C)         &kp LC(V)     &none             &none  &none  &none  &none  &none  &none
&kp LEFT_CONTROL  &none              &none         &none          &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &none  &none  &none  &none  &none  &none  &none
            >;

            label = "MVEdit";
        };

        Mouse {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &bt BT_CLR      &trans  &none  &trans     &mkp MCLK  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &kp ESCAPE    &trans  &bt BT_CLR_ALL  &trans  &none  &mkp LCLK  &mkp RCLK  &none   &none   &trans  &trans
&trans  &trans        &trans        &trans        &trans  &trans          &trans         &none      &to 0      &none   &none   &trans  &trans
&trans  &trans        &trans        &trans        &trans  &trans          &trans         &trans     &none      &none   &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans  &to 0           &trans  &to 0  &trans     &kp N4     &trans  &trans  &trans  &trans
            >;

            label = "Mouse";
        };

        KeyPad {
            bindings = <
&trans  &none   &none   &none      &trans  &none   &trans  &mkp MCLK  &trans           &trans           &trans         &trans     &trans           &trans
&trans  &trans  &trans  &kp LG(E)  &trans  &none   &trans  &mkp LCLK  &mkp RCLK        &kp KP_N7        &kp KP_N8      &kp KP_N9  &kp KP_MULTIPLY  &trans
&trans  &trans  &trans  &trans     &trans  &trans  &trans             &kp TAB          &kp KP_N4        &kp KP_N5      &kp KP_N6  &kp KP_SLASH     &trans
&trans  &trans  &trans  &trans     &trans  &trans  &trans             &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_N2      &kp KP_N3  &kp KP_DOT       &trans
&trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans     &trans           &trans           &kp LC(LA(B))  &trans     &trans           &trans
            >;

            label = "KeyPad";
        };

        Naginata {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "Naginata";
        };
    };
};
