
if SHIELD_ZKEY68TB_CV2_17_RIGHT

config ZMK_KEYBOARD_NAME
    default "zkey68tb_cv2_17"

# 2026/05/14追加
config ZMK_POINTING
    default y

config PAW3222
    default y
# ---

endif

if SHIELD_ZKEY68TB_CV2_17_LEFT || SHIELD_ZKEY68TB_CV2_17_RIGHT

config ZMK_SPLIT
    default y

endif